<div class="container form-blanquito">
<%= simple_form_for [ @cocktail, @dose] do |t| %>
  <%= t.input :description %>
  <%= t.association :ingredient %>
  <%= t.submit class: "btn btn-primary" %>
<% end %>
</div>