// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "config/fonts";

h1 { 
  font-family: $h1-font;
  color: rgb(219, 219, 219);;
}

#LinkTitle {
  text-decoration: none;
  color: rgb(219, 219, 219);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  background-color: rgba(233, 233, 233, 0.966);
}

.form-blanquito {
  color: rgb(219, 219, 219);
}